---
import { marked } from 'marked';
import Button from './Button.astro';
import siteConfig from '../data/site-config';

const hero = siteConfig.hero;
---

{
	(hero?.title || hero?.image?.src || hero?.text || (hero?.actions && hero.actions.length > 0)) && (
		<section class="mb-16 flex w-full flex-col gap-8 sm:mb-24">
			{hero.title && (
				<h1 class="text-center font-serif text-xl font-medium leading-tight sm:text-2xl sm:leading-tight">
					{hero.title}
				</h1>
			)}
			{hero.image?.src && (
				<figure class="flex justify-center">
					<img
						alt={hero.image.alt || ''}
						class="h-[300px] w-[300px] rounded-full object-cover transition-transform duration-300 ease-in-out hover:scale-105"
						decoding="async"
						loading="lazy"
						src={hero.image.src}
					/>
					{hero.image.caption && <figcaption class="mt-1.5 text-xs sm:text-sm">{hero.image.caption}</figcaption>}
				</figure>
			)}
			{hero.text && <div class="prose-kevin prose max-w-none sm:prose-lg" set:html={marked.parse(hero.text)} />}
			{hero.actions && hero.actions.length > 0 && (
				<div class="flex flex-wrap justify-center gap-4">
					{hero.actions.map((action) => (
						<Button href={action.href}>{action.text}</Button>
					))}
				</div>
			)}
		</section>
	)
}
