---
import { fade } from 'astro:transitions';

interface Props {
	dateRange: string;
	company: string;
	logo: string;
	logoHeight: number;
	logoWidth: number;
	title: string;
	index: number;
}

const { dateRange, company, logo, logoHeight, logoWidth, title, index } = Astro.props;
---

<div
	class="group relative flex items-center"
	transition:name={`timeline-entry-${company}`}
	transition:animate={fade({ duration: 1 })}
>
	<div
		class="absolute left-1/2 h-full -translate-x-1/2 self-start bg-slate-300 px-px group-last:hidden dark:bg-slate-600"
	>
	</div>
	<div
		class="absolute left-1/2 box-content h-2 w-2 -translate-x-1/2 rounded-full border-4 border-slate-50 bg-indigo-600 dark:border-slate-900"
	>
	</div>

	<time
		class={`absolute ${index % 2 === 0 ? 'left-[calc(50%+0.5rem)]' : 'right-[calc(50%+0.5rem)]'} inline-flex h-auto min-h-[1.5rem] w-[6rem] items-center justify-center rounded-full bg-emerald-100 dark:bg-emerald-900 px-2 py-1 text-xs font-semibold uppercase text-emerald-600 dark:text-emerald-300 sm:text-center`}
	>
		{dateRange}
	</time>

	<a
		href={`/timeline/${company.toLowerCase().replace(/\s+/g, '-')}`}
		class={`relative block min-w-[420px] w-[28rem] rounded-lg border border-slate-200 dark:border-slate-700 bg-white dark:bg-slate-800 p-4 shadow-sm hover:border-indigo-500 dark:hover:border-indigo-400 transition-colors ${
			index % 2 === 0 ? 'ml-[calc(50%+8rem)]' : 'ml-[calc(50%-36rem)]'
		}`}
	>
		<div class={`mb-1 flex items-start justify-between ${index % 2 === 1 ? 'flex-row-reverse' : ''}`}>
			<div class="font-caveat text-2xl font-medium text-indigo-500 dark:text-indigo-400 sm:mb-0">
				{company} - {title}
			</div>
			{
				logo && (
					<img
						src={logo}
						alt={`${company} logo`}
						height={logoHeight}
						width={logoWidth}
						class={`${index % 2 === 0 ? 'ml-4' : 'mr-4'}`}
					/>
				)
			}
		</div>
	</a>
</div>
