---
import siteConfig from '../data/site-config';
import TimelineItemSimple from './TimelineItemSimple.astro';
---

<div class="-my-6">
	{
		siteConfig.jobs?.map((job, index) => (
			<TimelineItemSimple
				dateRange={job.dateRange}
				company={job.company}
				logo={job.logo}
				logoHeight={job.logoHeight}
				logoWidth={job.logoWidth}
				title={job.title}
				index={index}
			/>
		))
	}
</div>
